<div class="row">
  <div class='col-md-12'>
    <nb-card>  
      <nb-card-body>

        <form [formGroup]="registerForm" (ngSubmit)='onSubmit()'>
            <div class="form-group">
              <label for="owner" class="label">Owner</label>
              <input type="text" class="form-control" formControlName="owner" [ngClass]="{ 'is-invalid': submitted && f.owner.errors }" nbInput fullWidth id="owner" autofocus placeholder="Name" [status]='values.owner' />
              <div *ngIf="submitted && f.owner.errors" class="invalid-feedback">
                <div *ngIf="f.owner.errors.required">Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="expiry" class="label">Expiry</label>
              <input nbInput placeholder="Pick Date" [value]="now" [nbDatepicker]="dateTimePicker" fullWidth fieldSize="small" formControlName="expiry"  [status]='values.expiry'>
              <nb-datepicker [min]="min" [(date)] = "selectedDate" #dateTimePicker></nb-datepicker>
            </div>


    <button [status]="'success'" nbButton class="btn-block" *ngIf="is_saving == false">Save</button>
    <button [status]="'success'" nbButton class="btn-block" *ngIf="is_saving == true" [nbSpinner]="is_saving" nbSpinnerSize="medium" nbSpinnerStatus="primary">&nbsp;</button>
    </form>
      </nb-card-body>
      </nb-card>
  </div>

</div>